:root {
    --base : #1f1f24;
    --base-light : #fff;
    --greeny : #438972;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--base);
}
::-webkit-scrollbar-thumb{
    background: #438972;
    border-radius: 90px;
}
html {
    font-family: 'Aileron';
    scroll-behavior: smooth;
}

body {
    background-color: var(--base);
    color: var(--base-light);
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
}
.container
{
    margin: 30px auto;
    padding: 0 15px 0 15px;
}

.tabel .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tabel .btn a{
    background-color: var(--greeny);
    color: var(--base-light);
    padding: 10px;
    border-radius: 90px;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Aileron';
    transition: ease    0.3s;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    width: 120px;
    margin: 20px auto;
}
.tabel .btn a:hover{
    background-color: var(--base-light);
    color: var(--greeny);
}
.tabel {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--base-light);
}
.tabel h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Aileron';
    margin-bottom: 10px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    display: block;
    -webkit-box-shadow: 0px 5px 13px 0px #000000; 
box-shadow: 0px 5px 13px 0px #000000;
}
.tabel a {
    color: var(--base-light);
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    border-radius: 90px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    background-color: var(--greeny);
}
.tabel a:hover {
    background-color: var(--base-light);
    color: var(--greeny);
}
.tabel  th {
    box-shadow: 1px 10px 34px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 34px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 34px -3px rgba(0,0,0,0.75);
    color: var(--base-light);
    padding: 10px;  
}
.tabel td {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
table {
    -webkit-box-shadow: 0px 5px 13px 0px #000000; 
    box-shadow: 0px 5px 13px 0px #000000;
    text-align: justify;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
/* Log */
.h2-log {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'Aileron';
    margin-bottom: 10px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    display: block;
    -webkit-box-shadow: 0px 5px 13px 0px #000000; 
    box-shadow: 0px 5px 13px 0px #000000;
}
.back-to-dashboard {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 400px;
}

/* input tugas */
/* -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); */
form {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}
.input-tugas-input {
    margin-bottom: 15px;
    font-family: 'Aileron';
    background-color: var(--base-light);
    color: var(--base);
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border-radius: 90px;
}
.input-tugas-textarea {
    font-family: 'Aileron';
    background-color: var(--base-light);
    color: var(--base);
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 15px;
    border-radius: 25px;
    height: 200px;
}
input {
    margin: 0 auto;
    text-align: center;
}
.datetime {
    cursor: pointer;
}
textarea {
    text-align: center;
}
.input-tugas-btn {
    background-color: var(--greeny);
    color: var(--base-light);
    padding: 10px;
    border-radius: 90px;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Aileron';
    transition: ease    0.3s;
    width: 30%;
    margin: 20px auto;
    cursor: pointer;
}
.input-tugas-btn:hover {
    background-color: var(--base-light);
    color: var(--greeny);
    cursor: pointer;
}
/* responsive */
@media only screen and (max-width: 768px) {
    .h2-input {
        width: 300px;
    }
    .input-tugas-input {
        width: 300px;
    }
    .input-tugas-textarea {
        width: 300px;
    }
    .input-tugas-btn {
        width: 120px;
    }
}
