:root {
    --base : #1f1f24;
    --base-light : #fff;
    --greeny : #438972;
}
html {
    scroll-behavior: smooth;
}
body, a, button, input, textarea {
    font-family: 'Aileron';
}

body {
    background-color: var(--base);
    color: var(--base-light);
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
}
.container {
    margin-top :50px;
    height: max-content;
}
.contents {
    padding: 15px;
    width: 80%;
    text-align: center;
    align-items: center;
    max-width: 800px;
    margin: 15px auto;
    box-shadow: 10px 10px 78px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 78px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 78px 0px rgba(0,0,0,0.75);
}
.contents h2 {
    color: var(--base-light);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    padding: 0;
}
.contents span {
    color: var(--greeny);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
form {
    align-items: center;
    text-align: center;
}
input {
    align-items: center;
    background-color: var(--base-light);
    color: var(--base);
    font-size: 1rem;
    padding: 10px;
    display: flex;
    border-radius: 90px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 70%;
    max-width: 400px;
}
p {
    color: var(--base-light);
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}
.strict-update {
    cursor: not-allowed;
    background-color: rgb(167, 167, 167);
}
button {
    margin-top: 15px;
    background-color: var(--greeny);
    color: var(--base-light);
    border: none;
    height: 40px;
    width: 60%;
    max-width: 400px;
    padding: 10px;
    border-radius: 90px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    transition: ease   0.3s;
}
button:hover {
    background-color: var(--base-light);
    color: var(--base);
    cursor: pointer;
}
.atau {
    font-size: 0.8rem;
}
.home-capsule {
    margin: 30px;
}
.home-capsule a {
    display: inline-block;
    color: var(--base-light);
    text-decoration: none;
    background-color: var(--greeny);
    max-width: 400px;
    width: 60%;
    padding: 10px;
    border-radius: 90px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: normal;
}
.home-capsule a:hover {
    text-decoration: none;
    background-color: var(--base-light);
    color: var(--greeny);
}
/* responsive*/
@media only screen and (max-width: 768px) {
    .container .contents {
        margin: 40px auto;
        text-align: center;
        align-items: center;
    }
    button {
        background-color: var(--greeny);
        color: var(--base-light);
        border: none;
        height: 40px;
        width: 60%;
        max-width: 400px;
        padding: 10px;
        border-radius: 90px;
        text-align: center;
        margin-bottom: 15px;
        transition: ease   0.3s;
    }
    .btn1 {
        margin-right: 0px;
    }
}
