:root {
    --base : #1f1f24;
    --base-light : #fff;
    --greeny : #438972;
}
html {
    scroll-behavior: smooth;
}
body, a, button, input, textarea {
    font-family: 'Aileron';
}

body {
    background-color: var(--base);
    color: var(--base-light);
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
}
.header {
    text-transform: uppercase;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
    -webkit-box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
}
.user {
    padding-top: 30px;
}
.user span {
    color: var(--greeny);
}
.toelist-logo {
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
    color: var(--base-light);
    font-size: 2rem;
    width: fit-content;
}
.toelist-logo .logo {
    position: absolute;
    height: 60px;
    width:128px;
    margin-top: 62px;
    background-color: var(--greeny);

}
.toelist-logo h1 {
    position: relative;
}
.toelist-logo .dot {
    color: var(--greeny);
}

.top-btn {
    margin-bottom: 30px;
    float: right;
    padding-right: 15px;
}
.edit-profile {
    background-color: var(--greeny);
    color: var(--base-light);
    padding: 10px;
    border-radius: 90px;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Aileron';
    transition: ease    0.3s;
}
.logout {
    background-color: var(--base-light);
    color: var(--greeny);
    padding: 10px;
    margin-left: 10px;
    border-radius: 90px;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Aileron';
    transition: ease    0.3s;
}
.logout:hover {
    background-color: var(--greeny);
    color: var(--base-light);
}
.edit-profile:hover {
    background-color: var(--base-light);
    color: var(--greeny);
}

.container {
    margin-top: 20px;
}
.container .contents a {
    color: var(--base-light);
    text-decoration: none;
    background-color: var(--greeny);
    padding: 10px;
    transition: ease   0.3s;
    border-radius: 90px;
    text-transform: uppercase;
}
.container .contents a:hover {
    background-color: var(--base-light);
    color: var(--greeny);
}

.container .contents h2 {
    color: var(--base-light);
    font-size: 2.5rem;
    font-family: 'Aileron';
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.container .contents span {
    color: var(--greeny);
}
.contents {
    margin: 0 auto;
}
form {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.contents input {
    background-color: var(--base-light);
    color: var(--base);
    border: none;
    height: 40px;
    width: 60%;
    max-width: 400px;
    padding: 10px;
    border-radius: 90px;
    text-align: center;
    margin-bottom: 15px;
}
.contents input:focus {
    border: #fff solid 1px;
}
.contents textarea {
    background-color: var(--base-light);
    color: var(--base);
    border: none;
    height: 200px;
    width: 60%;
    max-width: 400px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 15px;
    resize: none;
}
button {
    background-color: var(--greeny);
    color: var(--base-light);
    border: none;
    height: 40px;
    width: 195px;
    padding: 10px;
    border-radius: 90px;
    text-align: center;
    margin-bottom: 15px;
    transition: ease   0.3s;
}
.btn1 {
    margin-right: 10px;
}
button:hover {
    background-color: var(--base-light);
    color: var(--greeny);
}
/* responsive */
@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .header {
        font-size: 2rem;
        text-align: center;
    }
    .toelist-logo {
        font-size: 1.5rem;
        margin: 0 auto;
        text-align: center;
    }
    .toelist-logo .logo {
        margin-top: 40px;
        width: 95px;
    }
    .user h2 {
        font-size: 2rem;
    }
    .top-btn {
        margin: 0 auto;
        float: none;
    }
    .container .contents {
        margin: 40px auto;
        text-align: center;
        align-items: center;
    }
    button {
        background-color: var(--greeny);
        color: var(--base-light);
        border: none;
        height: 40px;
        width: 60%;
        max-width: 400px;
        padding: 10px;
        border-radius: 90px;
        text-align: center;
        margin-bottom: 15px;
        transition: ease   0.3s;
    }
    .btn1 {
        margin-right: 0px;
    }
}
