/* header */
.header {
    text-transform: uppercase;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
    -webkit-box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
}
.user {
    padding-top: 30px;
}
.user span {
    color: var(--greeny);
}
.toelist-logo {
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
    color: var(--base-light);
    font-size: 2rem;
    width: fit-content;
}
.toelist-logo .logo {
    position: absolute;
    height: 60px;
    width:128px;
    margin-top: 62px;
    background-color: var(--greeny);

}
.toelist-logo h1 {
    position: relative;
}
.toelist-logo .dot {
    color: var(--greeny);
}

.top-btn {
    margin-bottom: 30px;
    float: right;
    padding-right: 15px;
}
.edit-profile {
    background-color: var(--greeny);
    color: var(--base-light);
    padding: 10px;
    border-radius: 90px;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Aileron';
    transition: ease    0.3s;
}
.logout {
    background-color: var(--base-light);
    color: var(--greeny);
    padding: 10px;
    margin-left: 10px;
    border-radius: 90px;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Aileron';
    transition: ease    0.3s;
}
.logout:hover {
    background-color: var(--greeny);
    color: var(--base-light);
}
.edit-profile:hover {
    background-color: var(--base-light);
    color: var(--greeny);
}
@media only screen and (max-width: 1080px) {
    .header {
        flex-direction: column;
    }
    .header {
        font-size: 2rem;
        text-align: center;
    }
    .toelist-logo {
        font-size: 1.5rem;
        margin: 0 auto;
        text-align: center;
    }
    .toelist-logo .logo {
        margin-top: 40px;
        width: 95px;
    }
    .user h2 {
        font-size: 2rem;
    }
    .top-btn {
        margin: 0 auto;
        float: none;
    }
}
