:root {
    --base : #1f1f24;
    --base-light : #fff;
    --greeny : #438972;
}
html{
    scroll-behavior: smooth;
    height: 100%;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--base);
}
::-webkit-scrollbar-thumb{
    background: #438972;
    border-radius: 90px;
}
body {
    background-color: var(--base);
    text-align: center;
    color: var(--base-light);
    font-family: 'Aileron';
    margin:  0 auto; 
    max-width: 1300px;
    min-height: 100%;
}
.header {
    background-color: var(--base);
}
.toelist-logo {
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
    color: var(--base-light);
    font-size: 1.5rem;
    margin-top: 60px;
    width: fit-content;
    margin : 0 auto;
    margin-bottom: 10px;
}
.toelist-logo .logo {
    position: absolute;
    height: 40px;
    width:96px;
    margin-top: 10px;
    background-color: var(--greeny);

}
.toelist-logo h1 {
    position: relative;
    text-transform: uppercase;
}
.toelist-logo .dot {
    color: var(--greeny);
}

.container {
    margin: 0 auto;
    max-width: 80%;
    box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
    -webkit-box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
}

h2 {
    font-size: 6rem;
    transition: ease-in-out 0.5s;
    margin-bottom: 60px;
    padding-top: 30px;
}
span {
    color: var(--greeny);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}
input {
    box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
-webkit-box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
-moz-box-shadow: -1px 19px 66px -7px rgba(0,0,0,0.59);
    transition: ease 0.3s;
    width: 400px;
    height: 60px;
    border-radius: 5px;
    border: none;
    border-radius: 90px;
    background-color: var(--base-light);
    color: var(--base);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
button {
    width: 400px;
    height: 60px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 90px;
    background-color: var(--greeny);
    color: var(--base-light);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    transition: ease 0.3s;
    padding-left: 20px;
    font-weight: bold;
}
button:hover {
    background-color: var(--base-light);
    color: var(--greeny);
}


.reg-btn {
    background-color: var(--base-light);
    color: #1F1F24;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
    transition: ease-in 0.3s;
    text-decoration: none;
    border-radius: 90px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.reg-btn:hover {
    background-color: var(--greeny);
    color: var(--base-light);
}


.login-btn {
    background-color: var(--base-light);
    color: #1F1F24;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
    transition: ease-in 0.3s;
    text-decoration: none;
    border-radius: 90px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.login-btn:hover {
    background-color: var(--greeny);
    color: var(--base-light);
}

.home {
    background-color: var(--greeny);
    color: var(--base-light);
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
    transition: ease-in 0.3s;
    text-decoration: none;
    border-radius: 90px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.home:hover {
    background-color: var(--base-light);
    color: var(--greeny);
}
/* responsive */
@media screen and (max-width: 1080px) {
    h2 {
        font-size: 3.5rem;
        padding-top: 20px;
    }
    form {
        width: 100%;
    }
    label {
        font-size: 1rem;
    }
    input {
        width: 360px;
        height: 50px;
        font-size: 1.2rem;
    }
    button {
        width: 50%;
        width: 360px;
        font-size: 1.5rem;
        height: 50px;
    }
    .reg-btn {
        font-size: 1rem;
    }
    .login-btn {
        font-size: 1rem;
    }
    .home {
        font-size: 1rem;
    }
}